@import url('https://fonts.googleapis.com/css2?family=Asset&family=Chango&display=swap');
.anrex{
    background: url("images/jagger2.jpg");
    font-size: 60px;
    color:transparent;
    -webkit-background-clip: text ;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out;
    font-family: 'Chango', 'cursive';
    text-align: center;
    border: 15px  solid green;
    margin: 0%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}
.anrex2{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: green;
    color: white;
    font-size: large;
    margin-top: 15px;
}
.body{
    width: 80%;
    margin: 1% 10%;
    border: solid 15px green;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(700px auto);
    grid-gap: 1em;
    
    background-color: green;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
.text{
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: aliceblue;
    white-space: pre-wrap;
    
}
.anrex3{
    float: right;
}
.linate{
        width: 100%;
        height: 100%;
        background-image: url("images/linate.jpg");
        background-size: cover;
        font-size: 400%;
        text-align:center;
        color: red;
        animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
}
.dizel{
    width: 100%;
    height: 100%;
    background-image: url("images/dizel.jpg");
    background-size: cover;
    font-size: 400%;
    text-align:center;
    color: red;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
   
}
.jager{
    width: 100%;
    height: 100%;
    background-image: url("images/jager.jpg");
    background-size: cover;
    font-size: 400%;
    text-align:center;
    color: red;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
   
}
.olivia{
    width: 100%;
    height: 100%;
    background-image: url("images/olivia.jpg");
    background-size: cover;
    font-size: 400%;
    text-align:center;
    color: red;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
    
}
.magelan{
    width: 100%;
    height: 100%;
    background-image: url("images/magelan.jpg");
    background-size: cover;
    font-size: 400%;
    text-align:center;
    color: red;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
    
}
.oskar{
    width: 100%;
    height: 100%;
    background-image: url("images/oskar.jpg");
    background-size: cover;
    font-size: 400%;
    text-align:center;
    color: red;
    animation: animate 20s infinite ease-in-out;
    -webkit-animation: animate 20s infinite ease-in-out
}
.fon{
    background-image: url("images/monaco.jpg");
}
.border{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    background-color: green;
    font-size: large;
    color: white;
}
