@media   (min-width: 400px){
.maket{

    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    gap: 2px;

}
.head{

    font-size: 30px;
    background-color: blue;
    text-align: center;
    grid-column: 1/3;

}
.side{
    background-color: yellow;
    grid-row: 2/3;
}
.main{
    width: 100%;
    height: 100%;

    grid-column: 2/2;
    
}
.bol{
    background: url("img/transparent-football-16.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    width: 15vw;
    height: 50vh;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0.1;
}
.footer{
    font-size: 30px;
    background-color: blue;
    text-align: center;
    grid-column: -3/3;
}
.main2{
    float: left;
    
}
.footbol{
    text-align: center;
}
}
@media screen and (max-width: 400px){
    .maket{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        gap: 2px;
    
    }
    .head{
      
        grid-row: 1;
        display: none;
    
    }
    .side{
        background-color: rgb(255, 255, 255);
        grid-row: 3;
    }
    .main{
        grid-row: 2;
    }
    .footer{
        grid-row: 4;
        display: none;
    }
    .main2{
        float: left;
    }
    .footbol{
        text-align: center;
    }
    }



